<section class="flex h-full flex-nowrap justify-center items-center py-3 px-2">
  <div
    class="bg-slate-800/70 flex flex-col h-full flex-wrap overflow-hidden justify-center items-center text-stone-200 rounded-xl shadow-neutral-900 shadow-xl/40 w-full"
  >
    <!-- <img src="walking duck.gif" alt="" />
  <h1 style="color: red">
    Trabajo en progreso, salir de aquí y disfrutar del resto de la aplicación.
    gracias <3
  </h1> -->
    <div class="flex flex-row items-center justify-around w-9/11 h-9/10">
      <div
        class="w-1/4 h-4/5 px-8 py-0 flex flex-col items-center justify-evenly rounded-xl bg-slate-600/70"
      >
        <span class="text-4xl font-bold">Basic</span>
        <span class="text-2xl font-semibold p-1 text-center">0.99€</span>
        <span
          class="text-xl px-2 py-2 border-b-1 border-gray-400 w-full text-center"
          >Unlimited Access</span
        >
        <span
          class="text-xl px-2 py-2 border-b-1 border-gray-400 w-full text-center"
          style="color: grey"
          >Ability to text the owner</span
        >
        <span
          class="text-xl px-2 py-2 border-b-1 border-gray-400 w-full text-center"
          style="color: grey"
          >Let us sell your data</span
        >
        <span
          class="text-xl px-2 py-2 border-b-1 border-gray-400 w-full text-center"
          style="color: grey"
          >Change Languages</span
        >
        <span
          class="text-xl px-2 py-2 border-b-1 border-gray-400 w-full text-center"
          style="color: grey"
          >Save data offline</span
        >
        <span
          class="text-xl px-2 py-2 border-b-1 border-gray-400 w-full text-center"
          style="color: grey"
          >Unlock Weather Map</span
        >
        <button
          class="rounded-xl text-black bg-slate-300 tansition-all font-bold text-xl px-4 py-2 m-1 mt-2 hover:bg-slate-300/50 active:bg-slate-300/20"
        >
          <a
            href="https://www.youtube.com/watch?v=xvFZjo5PgG0"
            target="_blank"
            class="cursor-pointer"
            >Give</a
          >
        </button>
      </div>
      <div
        class="w-1/4 h-4/5 px-6 py-0 flex flex-col justify-evenly rounded-xl bg-slate-600/70 items-center"
      >
        <span class="text-4xl font-bold">Standard</span>
        <span class="text-2xl font-semibold p-1 text-center text-yellow-300"
          >1.99€ <br class="text-2xl font-semibold p-1 text-center" />Best
          Value</span
        >
        <span
          class="text-xl px-2 py-2 border-b-1 border-gray-400 w-full text-center"
          >Unlimited Access</span
        >
        <span
          class="text-xl px-2 py-2 border-b-1 border-gray-400 w-full text-center"
          >Ability to text the owner</span
        >
        <span
          class="text-xl px-2 py-2 border-b-1 border-gray-400 w-full text-center"
          >Let us sell your data</span
        >
        <span
          class="text-xl px-2 py-2 border-b-1 border-gray-400 w-full text-center"
          style="color: grey"
          >Change Languages</span
        >
        <span
          class="text-xl px-2 py-2 border-b-1 border-gray-400 w-full text-center"
          style="color: grey"
          >Save data offline</span
        >
        <span
          class="text-xl px-2 py-2 border-b-1 border-gray-400 w-full text-center"
          style="color: grey"
          >Unlock Weather Map</span
        >
        <button
          class="rounded-xl text-black bg-slate-300 tansition-all font-bold text-xl px-4 py-2 m-1 mt-2 hover:bg-slate-300/50 active:bg-slate-300/20"
        >
          <a
            href="https://www.youtube.com/watch?v=xvFZjo5PgG0"
            target="_blank"
            class="cursor-pointer"
            >Us Your</a
          >
        </button>
      </div>
      <div
        class="w-1/4 h-4/5 px-8 py-0 flex flex-col items-center justify-evenly rounded-xl bg-slate-600/70"
      >
        <span class="text-4xl font-bold">Premium</span>
        <span class="text-2xl font-semibold p-1 text-center">2.99€</span>
        <span
          class="text-xl px-2 py-2 border-b-1 border-gray-400 w-full text-center"
          >Unlimited Access</span
        >
        <span
          class="text-xl px-2 py-2 border-b-1 border-gray-400 w-full text-center"
          >Ability to text the owner</span
        >
        <span
          class="text-xl px-2 py-2 border-b-1 border-gray-400 w-full text-center"
          >Let us sell your data</span
        >
        <span
          class="text-xl px-2 py-2 border-b-1 border-gray-400 w-full text-center"
          >Change Languages</span
        >
        <span
          class="text-xl px-2 py-2 border-b-1 border-gray-400 w-full text-center"
          >Save data offline</span
        >
        <span
          class="text-xl px-2 py-2 border-b-1 border-gray-400 w-full text-center"
          >Unlock Weather Map</span
        >
        <button
          class="rounded-xl text-black bg-slate-300 tansition-all font-bold text-xl px-4 py-2 m-1 mt-2 hover:bg-slate-300/50 active:bg-slate-300/20"
        >
          <a
            href="https://www.youtube.com/watch?v=xvFZjo5PgG0"
            target="_blank"
            class="cursor-pointer"
            >Data</a
          >
        </button>
      </div>
    </div>
    <div class="text-md absolute bottom-5 text-center">
      <p>
        © {{ currentYear }} Weather Angular App | Created by Nizar Mourak using
        Angular
      </p>
    </div>
  </div>
</section>
