section {
  background-image: linear-gradient(to right, #282c26, #274657);
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: space-between;
  width: 4vw;
  height: 98vh;
  border-radius: 0.8vh;
  margin-top: 1.1vh;
  margin-left: 0.8vw;
}
