section {
  background-image: linear-gradient(to right, #282c26, #274657);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 5em;
  height: 98vh;
  border-radius: 0.5em;
  margin-top: 0.5em;
  margin-left: 0.8em;
}
