<section
  class="flex h-full w-full flex-nowrap justify-center items-center py-3 px-2"
>
  <div
    class="bg-slate-800/70 flex flex-col h-full overflow-hidden justify-center items-center text-stone-200 rounded-xl shadow-neutral-900 shadow-xl/40 w-full"
  >
    <!-- Title -->
    <h2
      class="lg:text-lg xl:text-xl 2xl:text-2xl 3xl:text-3xl 4xl:text-4xl p-4 md:p-5 w-1/2 text-center font-semibold border-b-2 border-black"
    >
      Settings
    </h2>

    <!-- Settings Container -->
    <section class="p-2 sm:p-3 md:p-4 w-3/4 md:w-1/2">
      <!-- Units -->
      <div
        class="lg:text-base xl:text-lg 2xl:text-xl 3xl:text-2xl 4xl:text-3xl md:text-2xl font-semibold p-3 md:p-5 flex flex-col sm:flex-row justify-between items-center gap-3 rounded-xl my-3 bg-slate-700"
      >
        <p>Units</p>
        <span class="flex gap-2">
          <button
            class="cursor-pointer rounded-xl lg:text-base xl:text-lg 2xl:text-xl 3xl:text-2xl 4xl:text-3xl md:text-lg font-medium px-4 py-1.5 transition-all hover:bg-slate-800/30 active:bg-slate-800/60"
            type="button"
            (click)="
              settingsData.updateSetting('units', 'metric');
              reload(false, '/home')
            "
            [class.active]="settingsData.getSettings().units === 'metric'"
          >
            Metric
          </button>
          <button
            class="cursor-pointer rounded-xl lg:text-base xl:text-lg 2xl:text-xl 3xl:text-2xl 4xl:text-3xl md:text-lg font-medium px-4 py-1.5 transition-all hover:bg-slate-800/30 active:bg-slate-800/60"
            type="button"
            (click)="
              settingsData.updateSetting('units', 'imperial');
              reload(false, '/home')
            "
            [class.active]="settingsData.getSettings().units === 'imperial'"
          >
            Imperial
          </button>
        </span>
      </div>

      <!-- Time Format -->
      <div
        class="lg:text-base xl:text-lg 2xl:text-xl 3xl:text-2xl 4xl:text-3xl md:text-2xl font-semibold p-3 md:p-5 flex flex-col sm:flex-row justify-between items-center gap-3 rounded-xl my-3 bg-slate-700"
      >
        <p>Time format</p>
        <span class="flex gap-2">
          <button
            class="cursor-pointer rounded-xl lg:text-base xl:text-lg 2xl:text-xl 3xl:text-2xl 4xl:text-3xl md:text-lg font-medium px-4 py-1.5 transition-all hover:bg-slate-800/30 active:bg-slate-800/60"
            type="button"
            (click)="
              settingsData.updateSetting('timeFormat', 12);
              reload(false, '/home')
            "
            [class.active]="settingsData.getSettings().timeFormat === 12"
          >
            12H
          </button>
          <button
            class="cursor-pointer rounded-xl lg:text-base xl:text-lg 2xl:text-xl 3xl:text-2xl 4xl:text-3xl md:text-lg font-medium px-4 py-1.5 transition-all hover:bg-slate-800/30 active:bg-slate-800/60"
            type="button"
            (click)="
              settingsData.updateSetting('timeFormat', 24);
              reload(false, '/home')
            "
            [class.active]="settingsData.getSettings().timeFormat === 24"
          >
            24H
          </button>
        </span>
      </div>

      <!-- Visibility -->
      <div
        class="lg:text-base xl:text-lg 2xl:text-xl 3xl:text-2xl 4xl:text-3xl md:text-2xl font-semibold p-3 md:p-5 flex flex-col sm:flex-row justify-between items-center gap-3 rounded-xl my-3 bg-slate-700"
      >
        <p>Visibility</p>
        <span class="flex gap-2">
          <button
            class="cursor-pointer rounded-xl lg:text-base xl:text-lg 2xl:text-xl 3xl:text-2xl 4xl:text-3xl md:text-lg font-medium px-4 py-1.5 transition-all hover:bg-slate-800/30 active:bg-slate-800/60"
            type="button"
            (click)="
              settingsData.updateSetting('distanceUnits', 'km');
              reload(false, '/home')
            "
            [class.active]="settingsData.getSettings().distanceUnits === 'km'"
          >
            Km
          </button>
          <button
            class="cursor-pointer rounded-xl lg:text-base xl:text-lg 2xl:text-xl 3xl:text-2xl 4xl:text-3xl md:text-lg font-medium px-4 py-1.5 transition-all hover:bg-slate-800/30 active:bg-slate-800/60"
            type="button"
            (click)="
              settingsData.updateSetting('distanceUnits', 'mi');
              reload(false, '/home')
            "
            [class.active]="settingsData.getSettings().distanceUnits === 'mi'"
          >
            Mi
          </button>
        </span>
      </div>
    </section>

    <!-- Footer -->
    <p
      class="lg:text-sm xl:text-base 2xl:text-lg 3xl:text-xl 4xl:text-2xl md:text-md text-center py-3"
    >
      © {{ currentYear }} Weather Angular App | Created by Nizar Mourak using
      Angular
    </p>
  </div>
</section>
