* {
  margin: 0;
}

ng-icon {
  color: white;
  // width: 2.5em;
  // height: 2.5em;
  width: 3vw;
  height: 3.7vh;
  //padding: 1.5em;
  margin: 0.7em 0;
  margin: 1.4vh 0;
  border-radius: 5em;
  &:hover {
    //font-size: 1.05rem;
    transition: 0.3s ease-in-out;
    background-color: rgba(128, 128, 128, 0.52);
  }

  &:active {
    background-color: rgba(128, 128, 128, 0.874);
    transition: 0.1s ease-in-out;
  }
}

.userIcon {
  margin-block-end: 1.8vh;
  padding-block-start: 0;
}

div {
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
