<section class="flex flex-col w-full h-full justify-between items-center">
  <p
    class="bg-slate-700 lg:text-lg xl:text-xl 2xl:text-2xl 3xl:text-3xl 4xl:text-4xl lg:py-1 lg:pl-3 xl:py-2 xl:pl-5 2xl:py-3.5 2xl:pl-7 self-start w-full font-semibold text-stone-200 border-b-2 border-black rounded-tl-xl rounded-tr-xl"
  >
    Weather Calendar
  </p>
  <div class="flex flex-row items-center justify-center h-full w-full">
    <app-day-card
      *ngFor="let day of data.getTwoWeeks()?.daily"
      [day_data]="day"
      [dt]="day.dt"
      icon="https://openweathermap.org/img/wn/{{ day.weather[0].icon }}@2x.png"
      [max_temp_input]="day.temp.max"
      [min_temp_input]="day.temp.min"
      [temp_comment]="day.weather[0].description"
      class="w-full"
      [current_selected_day]="current_day_selected()"
      (day_selected)="sendSelectedDay($event)"
    >
    </app-day-card>
  </div>
</section>
