<section class="flex flex-col w-full h-full py-3.5 px-7">
  <p class="text-2xl font-semibold text-stone-200 mb-2 pl-2">
    Temperature Trend
  </p>
  <div class="flex w-full h-full bg-teal-600/20 rounded-xl">
    <div class="flex w-full h-full flex-row transition-all">
      <div
        *ngFor="let hour of data.getHourlyData(); let i = index"
        class="flex-1 flex flex-col items-center justify-end h-full w-fit transition-all"
      >
        <p class="text-md font-semibold mb-1 transition-all">
          {{ floorNumber(hour.temp) }}°
        </p>
        <div
          class="w-3/4 bg-blue-500 rounded-xl transition-all duration-300 hover:bg-blue-600 mb-1"
          [style.height.%]="calculateHeight(hour.temp)"
        ></div>
        <div class="text-2xs text-white">
          {{ transformDateParts(hour.dt).hour }}:00
        </div>
      </div>
    </div>
  </div>
</section>
