<section class="w-full h-full">
  <p
    class="bg-slate-700 text-2xl py-3.5 pl-7 self-start w-full font-semibold text-stone-200 border-b-2 border-black rounded-tl-xl rounded-tr-xl"
  >
    Today's Highlight
  </p>
  <div class="flex flex-row justify-evenly h-full">
    <div class="h-full w-xs p-3">
      <div
        class="rounded-xl border-1 border-white h-6/11 w-full flex flex-col justify-start"
      >
        <p
          class="text-xl self-start font-semibold text-stone-300 pl-4 pt-2 pb-1"
        >
          Wind Status
        </p>
        <div class="flex flex-col justify-center gap-2 items-center h-full">
          <div class="flex justify-around w-full">
            <span class="text-3xl font-bold text-stone-300 pl-4 pb-3 mr-2"
              >{{ data.getCurrentWeather().wind.speed }}

              <span
                class="text-start pb-3 text-lg font-light grow-1 text-stone-300"
                >{{ windSpeedUnit() }}</span
              ></span
            >
            <span
              class="text-end self-end-safe pb-3 pr-5 text-lg font-light grow-1 text-stone-300 w-fit"
              >{{ currentTime() }}</span
            >
          </div>
          <div
            class="h-17 w-17 flex items-center justify-center rounded-full bg-gray-400/40 p-1"
          >
            <span
              class="h-12 w-10 bg-amber-400 transition-all duration-300"
              [ngStyle]="{
                clipPath: 'polygon(50% 0%, 0% 100%, 90% 100%)',
                transform:
                  'rotate(' + data.getCurrentWeather().wind.deg + 'deg)',
              }"
            ></span>
          </div>
        </div>
      </div>
      <div
        class="rounded-xl border-1 border-white h-3/10 w-full flex flex-col justify-center mt-1.5 pb-1.5"
      >
        <p class="text-lg font-medium text-stone-300 pl-4 pt-2 pb-1">
          Humidity
        </p>
        <div
          class="flex flex-row gap-10 justify-between w-full h-full items-center"
        >
          <span class="text-3xl font-bold text-stone-300 pl-5 shrink-0"
            >{{ data.getCurrentWeather().main.humidity
            }}<span class="text-start text-lg font-light text-stone-300">
              %</span
            ></span
          >
          <span
            class="text-start text-lg font-light text-stone-300 shrink-1 justify-self-end-safe pl-7"
            id="dew"
            ><ng-icon name="hugeDroplet" style="display: block" /> Dew point is
            {{ dewPoint() }}&deg; right now</span
          >
        </div>
        <div class="w-9/10 bg-blue-800 rounded-full h-2 mb-2 self-center">
          <div
            class="bg-teal-400 h-2 rounded-full transition-all duration-300"
            [style]="'width:' + data.getCurrentWeather().main.humidity + '%'"
          ></div>
        </div>
      </div>
    </div>
    <div class="h-full w-xs p-3">
      <div
        class="rounded-xl border-1 border-white h-6/11 w-full flex flex-col justify-between"
      >
        <p class="text-xl font-semibold text-stone-300 pl-4 pt-2 pb-1">
          UV Index
        </p>
        <div class="flex flex-col items-center">
          <div class="text-3xl font-bold text-stone-300">
            {{ data.getTwoWeeks().current.uvi }}
          </div>
          <div
            class="flex mt-2 w-9/10 h-2 mb-2 self-center transition-all duration-300"
          >
            <div
              *ngFor="let level of levels"
              class="h-2 w-full rounded-sm mr-0.5 transition-all duration-300"
              [ngClass]="getBarColor(level)"
            ></div>
          </div>
        </div>
        <p></p>
      </div>
      <div
        class="rounded-xl border-1 border-white h-3/10 w-full flex flex-col justify-center mt-1.5 pb-1.5"
      >
        <p class="text-lg font-medium text-stone-300 pl-4 pt-2 pb-1">
          Visibility
        </p>
        <div
          class="flex flex-row gap-10 justify-between w-full h-full items-center"
        >
          <span class="text-3xl font-bold text-stone-300 pl-4 pb-3 mr-2"
            >{{ data.getCurrentWeather().visibility
            }}<span
              class="text-start pb-3 text-lg font-light grow-1 text-stone-300"
            >
              {{ visibilityUnits() }}</span
            ></span
          >
          <span class="text-start pb-3 text-lg font-light grow-1 text-stone-300"
            ><ng-icon name="hugeEye" style="display: block" />{{
              visibilityStatus()
            }}</span
          >
        </div>
      </div>
    </div>
    <div class="h-full w-xs p-3">
      <div class="rounded-xl border-1 border-white h-6/11 w-full flex flex-col">
        <p class="text-xl font-semibold text-stone-300 pl-4 pt-2 pb-1">
          Sunrise & Sunset
        </p>
        <div
          class="flex flex-col items-center justify-evenly self-center h-full"
        >
          <div
            class="flex flex-row self-center justify-self-center justify-between w-11/9"
          >
            <span
              class="justify-self-end-safe self-center text-5xl font-light grow-1 text-white mr-3 w-8 h-full rounded-full bg-gradient-to-br from-amber-400 to-amber-600 flex items-center justify-center"
            >
              <ng-icon name="hugeSunrise" />
            </span>
            <span
              class="flex flex-col text-end self-end-safe text-2xl font-semibold text-amber-400"
              >Sunrise
              <span
                class="self-end-safe text-lg font-medium text-stone-300 text-start"
                >{{ sunriseTime() }}</span
              ></span
            >
          </div>
          <div class="flex flex-row self-center justify-self-center w-11/9">
            <span
              class="justify-self-end-safe self-center text-5xl font-light grow-1 text-white mr-4 w-8 h-full rounded-full bg-gradient-to-br from-amber-400 to-amber-600 flex items-center justify-center"
            >
              <ng-icon name="hugeSunset"
            /></span>
            <span
              class="flex flex-col text-end self-end-safe text-2xl font-semibold text-amber-400"
              >Sunset
              <span class="self-end-safe text-lg font-medium text-stone-300">{{
                sunsetTime()
              }}</span></span
            >
          </div>
        </div>
      </div>
      <div
        class="rounded-xl border-1 border-white h-3/10 w-full flex flex-col justify-center mt-1.5 pb-1.5"
      >
        <p class="text-lg font-medium text-stone-300 pl-4 pt-2 pb-1">
          Feels Like
        </p>
        <div
          class="flex flex-row gap-5 justify-between w-full h-full items-center"
        >
          <span
            class="text-3xl font-bold text-stone-300 pl-4 text-center shrink-0"
          >
            {{ data.getCurrentWeather().main.feels_like }}
            <span class="text-3xl text-center"
              ><ng-icon name="hugeThermometerWarm"
            /></span>
          </span>
          <span
            class="text-start text-lg font-light grow-1 text-stone-300 pl-5"
            >{{
              humidityStatus(
                data.getCurrentWeather().main.feels_like,
                data.getCurrentWeather().main.humidity
              )
            }}</span
          >
        </div>
      </div>
    </div>
  </div>
</section>
