<div id="main">
  <ng-icon name="saxProfileCircleBold"></ng-icon>
  <p class="small-title">Test Accounts</p>
  <div class="accountContainer">
    <div class="accounts">
      <span
        ><p class="email-title">Email:</p>
        <p class="email">juanito&#64;barquillos.es</p></span
      >
      <span
        ><p class="password-title">Password:</p>
        <p class="password">oléquetapas</p></span
      >
    </div>
    <div class="accounts">
      <span
        ><p class="email-title">Email:</p>
        <p class="email">maria.la.fiestera&#64;feriaflamenca.com</p></span
      >
      <span
        ><p class="password-title">Password:</p>
        <p class="password">sevillanas123</p></span
      >
    </div>
    <div class="accounts">
      <span
        ><p class="email-title">Email:</p>
        <p class="email">churroslover&#64;mañanas.es</p></span
      >
      <span
        ><p class="password-title">Password:</p>
        <p class="password">conchocolate99</p></span
      >
    </div>
  </div>
  <div class="loginContainer">
    <form class="loginForm">
      <label for="username">Username or Email</label>
      <input
        #username
        type="text"
        name="username"
        placeholder="Username or Email"
        maxlength="50"
        minlength="3"
      />
      <label for="password">Password</label>
      <input
        #password
        type="password"
        name="password"
        id=""
        placeholder="Password"
        minlength="8"
        required
      />
      <button
        type="button"
        (click)="appStore.login(username.value, password.value)"
      >
        Login
      </button>
    </form>
  </div>
  <p class="footer">
    © {{ currentYear }} Weather Angular App | Created by Nizar Mourak using
    Angular
  </p>
</div>
