* {
  margin: 0;
}

ng-icon {
  cursor: pointer;
  color: white;
  width: 2em;
  height: 2em;
  width: 3.5vw;
  height: 3vh;
  //padding: 0.7em 1.3em;
  //margin: 1.1em 0em;
  padding: 1.2vh 0em;
  margin: 1.8vh 0em;
  &:hover {
    border-left: white solid 1px;
    background-image: linear-gradient(
      to right,
      rgba(5, 0, 100, 0.8),
      rgba(0, 0, 0, 0)
    );

    transition: 0.5s ease-in-out;
  }
  &:focus {
    border-left: white solid 1px;
    background-image: linear-gradient(
      to right,
      rgba(5, 0, 100, 0.8),
      rgba(0, 0, 0, 0)
    );
  }
}

.LogoIcon {
  width: 4vw;
  height: 5.5vh;
  padding: 0.5vh;
  border-bottom: solid black;
}

div {
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
