<section
  class="flex flex-col w-full h-full justify-between items-center overflow-hidden"
>
  <div
    class="bg-slate-700 2xl:text-2xl xl:text-xl xl:pb-1 2xl:py-3.5 2xl:pl-7 xl:py-2 xl:pl-5 self-start w-full font-semibold text-stone-200 border-b-2 border-black rounded-tl-xl rounded-tr-xl flex flex-row justify-between"
  >
    <div class="">
      <p class="">
        {{ getFormattedDateParts().weekday }},
        {{ getFormattedDateParts().month }} {{ getFormattedDateParts().day }},
        {{ currentYear }}
      </p>
      <p class="2xl:text-xl xl:text-lg font-light">
        {{ data.getSelectedDayData().summary }}
      </p>
    </div>
    <div class="flex flex-row 2xl:pr-7 xl:pr-5">
      <img
        src="{{ getIcon(this.data.getSelectedDayData().weather[0].icon) }}"
        class="w-15"
      />
      <span class="flex flex-col">
        <p class="2xl:text-2xl xl:text-xl font-semibold">
          {{ floorTemp(this.data.getSelectedDayData().temp.max) }}&deg;
        </p>
        <p class="2xl:text-xl xl:text-lg font-light">
          {{ floorTemp(this.data.getSelectedDayData().temp.min) }}&deg;
        </p>
      </span>
    </div>
  </div>
  <div
    class="flex flex-row self-start border-b-1 border-slate-600 2xl:ml-8 xl:ml-6 2xl:pt-1 xl:pt-0 2xl:mb-2 xl:mb-1"
  >
    <button
      class="tab self-start 2xl:text-xl xl:text-lg font-semibold text-stone-200 2xl:mt-2 xl:mt-1 px-2 cursor-pointer rounded-xl  hover:bg-gray-50/20 transition-all  origin-bottom relative overflow-hidden {{
        !data.getIsThereHourlyData() ? 'hidden' : ''
      }} active:bg-neutral-300/50"
      [class.active]="panel == 'temperature_trend'"
      (click)="scrollToSection('temperature_trend')"
    >
      Temperature Trend
    </button>
    <button
      class="tab self-start 2xl:text-xl xl:text-lg font-semibold text-stone-200 2xl:mt-2 xl:mt-1 ml-7 px-2 cursor-pointer rounded-xl  hover:bg-gray-50/20 transition-all  origin-bottom relative overflow-hidden  {{
        !data.getIsThereHourlyData() ? 'hidden' : ''
      }} active:bg-neutral-300/50"
      [class.active]="panel == 'hourly_forecast'"
      (click)="scrollToSection('hourly_forecast')"
    >
      Hourly Forecast
    </button>
    <button
      class="tab self-start 2xl:text-xl xl:text-lg font-semibold text-stone-200 2xl:mt-2 xl:mt-1 ml-7 mr-7 px-2 cursor-pointer rounded-xl  hover:bg-gray-50/20 transition-all  origin-bottom relative overflow-hidden  {{
        !data.getIsThereHourlyData() ? 'hidden' : ''
      }} active:bg-neutral-300/50 "
      [class.active]="panel == 'precipitation_chance'"
      (click)="scrollToSection('precipitation_chance')"
    >
      Precipitation Chance
    </button>
    <button
      class="tab self-start 2xl:text-xl xl:text-lg font-semibold text-stone-200 2xl:mt-2 xl:mt-1 px-2 cursor-pointer rounded-xl hover:bg-gray-50/20 transition-all origin-bottom relative overflow-hidden active:bg-neutral-300/50"
      [class.active]="panel == 'weather_details'"
      (click)="scrollToSection('weather_details')"
    >
      Weather Details
    </button>
  </div>
  <div
    class="flex h-full w-full text-stone-200 rounded-tl-xl rounded-tr-xl flex-row items-start overflow-hidden"
    id="scroll-container"
  >
    <div
      class="w-full h-full shrink-0 snap-start 2xl:pb-3.5 2xl:px-7 xl:px-5 xl:pb-2 overflow-hidden {{
        !data.getIsThereHourlyData() ? 'hidden' : ''
      }}"
      id="temperature_trend"
    >
      <app-temperature-trend></app-temperature-trend>
    </div>
    <div
      class="w-full h-full shrink-0 snap-start 2xl:pb-3.5 2xl:px-7 xl:px-5 xl:pb-2  {{
        !data.getIsThereHourlyData() ? 'hidden' : ''
      }}"
      id="hourly_forecast"
    >
      <app-hourly-forecast class="w-full h-full"></app-hourly-forecast>
    </div>

    <div
      class="w-full h-full shrink-0 snap-start 2xl:pb-3.5 2xl:px-7 xl:px-5 xl:pb-2  {{
        !data.getIsThereHourlyData() ? 'hidden' : ''
      }}"
      id="precipitation_chance"
    >
      <app-precipitation-chance class=""></app-precipitation-chance>
    </div>

    <div
      class="w-full h-full shrink-0 snap-start 2xl:pb-3.5 2xl:px-7 xl:px-5 xl:pb-2 overflow-scroll no-scrollbar scroll-smooth"
      id="weather_details"
    >
      <app-weather-details class=""></app-weather-details>
    </div>
  </div>
</section>
