<section class="flex flex-col w-full h-full justify-between items-center">
  <div
    class="bg-slate-700 text-2xl py-3.5 pl-7 self-start w-full font-semibold text-stone-200 border-b-2 border-black rounded-tl-xl rounded-tr-xl flex flex-row justify-between"
  >
    <div class="">
      <p class="">
        {{ getFormattedDateParts().weekday }},
        {{ getFormattedDateParts().month }} {{ getFormattedDateParts().day }},
        {{ currentYear }}
      </p>
      <p class="text-xl font-light">{{ data.getSelectedDayData().summary }}</p>
    </div>
    <div class="flex flex-row pr-7">
      <img
        src="{{ getIcon(this.data.getSelectedDayData().weather[0].icon) }}"
        class="w-15"
      />
      <span class="flex flex-col">
        <p class="text-2xl font-semibold">
          {{ floorTemp(this.data.getSelectedDayData().temp.max) }}&deg;
        </p>
        <p class="text-xl font-light">
          {{ floorTemp(this.data.getSelectedDayData().temp.min) }}&deg;
        </p>
      </span>
    </div>
  </div>
  <div class="flex flex-row self-start">
    <p
      class="tab self-start text-xl font-semibold text-stone-200 mt-2 ml-7 cursor-pointer rounded-t-xl px-3 py-1 transition-all duration-500 origin-bottom relative overflow-hidden"
      [class.active]="panel == 'temperature_trend'"
      (click)="scrollToSection('temperature_trend')"
    >
      Temperature Trend
    </p>
    <p
      class="tab self-start text-xl font-semibold text-stone-200 mt-2 ml-7 cursor-pointer rounded-t-xl px-3 py-1 transition-all duration-500 origin-bottom relative overflow-hidden"
      [class.active]="panel == 'hourly_forecast'"
      (click)="scrollToSection('hourly_forecast')"
    >
      Hourly Forecast
    </p>
    <p
      class="tab self-start text-xl font-semibold text-stone-200 mt-2 ml-7 cursor-pointer rounded-t-xl px-3 py-1 transition-all duration-500 origin-bottom relative overflow-hidden"
      [class.active]="panel == 'precipitation_chance'"
      (click)="scrollToSection('precipitation_chance')"
    >
      Precipitation Chance
    </p>
    <p
      class="tab self-start text-xl font-semibold text-stone-200 mt-2 ml-7 cursor-pointer rounded-t-xl px-3 py-1 transition-all duration-500 origin-bottom relative overflow-hidden"
      [class.active]="panel == 'weather_details'"
      (click)="scrollToSection('weather_details')"
    >
      Weather Details
    </p>
  </div>
  <div
    class="self-start w-full h-full text-stone-200 rounded-tl-xl rounded-tr-xl flex flex-row justify-between overflow-hidden"
    id="scroll-container"
  >
    <div class="w-full h-full shrink-0 snap-start" id="temperature_trend">
      <app-temperature-trend class="w-full h-full"></app-temperature-trend>
    </div>
    <div class="w-full h-full shrink-0 snap-start" id="hourly_forecast">
      <app-hourly-forecast class="w-full h-full"></app-hourly-forecast>
    </div>
    <div class="w-full h-full shrink-0 snap-start" id="precipitation_chance">
      <app-precipitation-chance
        class="w-full h-full"
      ></app-precipitation-chance>
    </div>
    <div class="w-full h-full shrink-0 snap-start" id="weather_details">
      <app-weather-details class="w-full h-full"></app-weather-details>
    </div>
  </div>
</section>
