<div
  class="flex flex-col items-center justify-start transition-all bg-slate-800/90 rounded-2xl justify-self-center self-end h-full w-full text-stone-200 py-3 hover:bg-slate-800/10"
>
  <p
    class="text-xl font-semibold border-b-6 border-teal-600/30 w-full text-center pb-2"
  >
    {{ hour() }}
  </p>
  <img src="{{ icon() }}" class="w-15" />
  <p class="text-2xl font-medium mb-1 transition-all">{{ temp() }}°</p>
  <p *ngIf="pop() != 0" class="text-xl font-semibold text-blue-300">
    <span class="align-middle text-lg"
      ><ng-icon name="solarUmbrellaBold"></ng-icon
    ></span>
    {{ chances() }}%
  </p>
  <!-- <p class="text-xl font-semibold text-blue-300">
    <span class="align-middle text-lg"
      ><ng-icon name="solarUmbrellaBold"></ng-icon
    ></span>
    {{ chances() }}%
  </p> -->
  <p class="text-lg font-medium">
    <span class="align-middle"><ng-icon name="solarWindBold"></ng-icon></span>
    {{ wind() }} {{ getMetricSystem() }}
  </p>
</div>
