@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import "tailwindcss";
@import "tailwindcss/utilities.css";
@tailwind utilities;
@import "tailwindcss/theme.css";

body {
  font-family: "Inter", sans-serif;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@theme {
  --breakpoint-3xl: 120rem; /* 120rem = 1920px */
  --breakpoint-4xl: 160rem; /* 160rem = 2560px */
  --breakpoint-5xl: 240rem; /* 240rem = 3840px */
}
